@use './partials/vars' as *;

* {
    font-family: 'Montserrat', sans-serif;
}

label{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 8px;
}

.haveAccount{
    font-size: 1.2rem;
    margin: 1rem 0;
}

main .form-control{
    border-color: #0e1111;
    &:focus{
        border-color: #ffd700;
        box-shadow: 0 0 0 0.25rem rgba(255,215,0,0.3);
    }
}

.btn.btn-primary{
    background-color: #0e1111;
    border-color: #0e1111;
    &:hover{
        background-color: #0e1111;
        border-color: #0e1111;
        color: gold;
    }
}
